th,
td {
    padding: 5px;
    border: 1px solid black;
}

.table {
    border: 1px solid black;
    width: 70%;
    border-collapse: collapse;
}


/* Счетчик */

body {
    counter-reset: num;
}

.table__column_counter::after {
    counter-increment: num;
    content: counter(num);
}


/* Зеленый фон четных строк */

.table__row:nth-child(odd) {
    background: #c0edcd;
}


/* Эффект при наведении */

.table__row:hover {
    background-color: bisque;
}

.table__row_color_readonly {
    background-color: #d6d6d6!important;
}

.table__row_color_readonly:hover {
    background-color: bisque!important;
}

.table__group:hover {
    background-color: bisque;
}
