th,
td {
    padding: 5px;
    border: 1px solid black;
}

.table__column_color1 {
    background-color: #d6d6d6;
}

.table {
    border: 1px solid black;
    width: 70%;
    border-collapse: collapse;
}


/* Счетчик */

body {
    counter-reset: num;
}

.table__string_counter::after {
    counter-increment: num;
    content: counter(num);
}


/* Зеленый фон четных строк */

.table__column_color:nth-child(odd) {
    background: #c0edcd;
}


/* Эффект при наведении */

.table__column_hover:hover {
    background-color: bisque;
}
